{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <em><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</em>
            </div>

            <div id="status">
                <p>

                    Your slag name is : <code>{{ name }}</code><br />

                    Variable <em>isAjax</em>:
                    {% if isAjax is defined and isAjax %}
                        <span style="color: green;">yes</span>
                    {% else %}
                        <span style="color: red;">no</span>
                    {% endif %}<br />

                    Variable <em>page:</em>{% if page is defined %} {{ page }} {% else %} <i>0</i> {% endif %}<br />

                    Variable <em>sort:</em>{% if getParamSort is defined %} {{ getParamSort }} {% else %} <i>not set</i> {% endif %}<br />

                    <a href="{{ path('lucky-index', [], false) }}">Lucky Home</a>
                    <a href="{{ path('lucky-slug', {'slug':'cool'}, false) }}">Lucky Slug Cool</a>
                    <a href="{{ path('lucky-slug-page', {'slug':'cool', 'page': 3}, false) }}">Lucky Slug Cool, page 3</a>
                    <a href="{{ path('lucky-slug-page', {'slug':'cool', 'sort': 'desc', 'page': 3}, false) }}">Lucky Slug Cool, page 3, sorted</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
